p {
    white-space: pre-wrap;
    text-align: justify;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }

#content {
    padding-bottom: 3rem; 
  }

#footer {
    color: red;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 3rem; 
  }