<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">MiniBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Register</a>
        </li>
      </ng-template>
        <li *ngIf="isAuthenticated()" class="nav-item">
            <a class="nav-link" (click)="onLogout()" style="cursor: pointer" >Logout</a>
        </li>
    </ul>
  </div>
</nav>
<br><br>
<div class="row">
  <div class="container">
      <div class="col-12 my-4">
          <app-blog-item *ngFor="let blog of blogs; let i = index" [blog]="blog" [id]="i"></app-blog-item>
      </div>
  </div>
</div>
<i class="fas fa-plus-circle" routerLink="/new" id="newBlog" style="cursor: pointer"></i>
